App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# Firebase native config — added manually per mobile/README.md
App/App/GoogleService-Info.plist
GoogleService-Info.plist
